/* variables for colors */
:root {
  --base-color: #fff;
  --primary-site-color: #000000;
  --tagline-color: #fff;
  --primary-text-color: #000000;
  --secondary-site-color: #b8860b;
  --button-hover-color: #ffd700;
  --nav-text-color: #fff;
  --secondary-text-color: #fff;
  --choice-button-color: #000000;
  --link-color: #b8860b;
  --link-hover-color: #ffd700;
  --primary-heading-font-size: 28px;
  --nav-bar-font-size: 18px;
  --main-body-font-size: 14px;
  --secondary-heading-font-size: 24px;
}

/* nav bar styling */
.navbar {
  background-color: var(--primary-site-color);
  color: var(--secondary-text-color);
}

.container-fluid {
  background-color: var(--primary-site-color);
}

.navbar-nav {
  display: flex;
  align-content: center;
}

.nav-item {
  color: var(--nav-text-color);
}

.recipe-trending {
  color: var(--nav-text-color);
}

.recipe-search-btn {
  background-color: var(--link-color);
  color: var(--base-color);
  border-radius: 10px;
}

/* logo */
.recipe-logo {
  color: var(--base-color);
}

.logo {
  margin-right: 10px;
  margin-left: 10px;
}

/* nav search bar */
.nav-user-form {
  margin-left: 500px;
}

/* jumbrotron styling */
.myhero {
  justify-content: center;
  background-image: url(../images/jumbotron2.jpg);
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.recipe-jumbotron {
  width: 300px;
  align-items: center;
  background-color: transparent;
}

/* Jumbotron body content */
.display-5 {
  color: var(--primary-site-color);
  font-size: 80px;
  /*text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;*/
}

.tagline {
  color: var(--primary-text-color);
  /* text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left; */
  /* font-weight: bolder; */
}
.recipe-jumbo-btn {
  background-color: var(--primary-site-color);
  color: var(--base-color);
}

/* recipe search section */
section {
  height: 400px;
}

/* choice section buttons */
.recipe-protein,
.recipe-carb,
.recipe-veg1,
.recipe-veg2 {
  background-color: var(--choice-button-color);
  border-color: transparent;
}

/* Need to add a class to above buttons and then add a hover style */

/* recipe cards */
.card {
  padding: 50px;
  border-color: transparent;
}

.recipe-submit {
  background-color: var(--link-color);
  border-color: transparent;
  color: var(--primary-text-color);
}

.card-header {
  background-color: var(--primary-text-color);
}

/* footer styles */
.text-center {
  color: var(--nav-text-color);
}

footer {
  background-color: var(--primary-text-color);
  color: var(--base-color);
}