/*:root {
    --base-color: #fff;
    --primary-heading-color: #00308f;
    --primary-border-color: #00308f;
    --name-color: #fff;
    --tagline-color: #fff;
    --primary-text-color: #222629;
    --secondary-heading-color: #003399;
    --nav-text-color: #b9d9eb;
    --secondary-text-color: #474b4f;
    --link-color: #31708e;
    --link-hover-color: #8fc1e3;
    --border-color: #29648a;
    --primary-heading-font-size: 24px;
    --nav-bar-font-size: 18px;
    --secondary-heading-font-size: 24px;
  } */

  .navbar {
    background-color:black;
    color:white;

} 

.myhero {
    justify-content: center;
    background-image: url(../images/jumbotron2.jpg);
    background-color: var(--nav-text-color) !important;
  height: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  

}

.navbar-nav {
    display: flex;
    align-content: center;
}

.container-fluid {
    background-color: black;
    
}

.recipe-search-btn {
    background-color: darkgoldenrod;
    color:white;

}

.recipe-jumbotron {
    width:300px;
    align-items:center;
    background-color: transparent;


}

section {
    height:400px;

}

.recipe-jumbo-btn {

}

.recipe-ingredient-card {
    /*height:400px;*/
    /*display: flex;*/

}

.recipe-protein {

}

.recipe-carb {

}

.recipe-veg1 {

}

.recipe-veg2 {
    
}

.veg-list {
}

.veg-list {
}

.recipe-submit {

}

.recipe-result {

}

.footer li {

} 

.recipe-logo {
    color:white;
    
}
.logo {
   margin-right: 10px;
   margin-left: 10px;
}
.display-5 {
    /*background-color:white;*/
    color:black;
    font-size: 80px;
    /*text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;*/
}

  .tagline {
    color:black;
    /*text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;*/

  }
  .recipe-jumbo-btn {
    background-color:black;
    color:white;
  }
  
  .d-flex {
    margin-left: 500px;

  }
  .recipe-protein {
    background-color: black;
    border-color: transparent;
  }
  .recipe-carb {
    background-color: black;
    border-color: transparent;
    
  }
  .recipe-veg1 {
    background-color: black;
    border-color: transparent;
  }
  .recipe-veg2 {
    background-color: black;
    border-color: transparent;
  }
 .card {
    padding: 50px;
    border-color: transparent;
 }
 .recipe-submit {
    background-color: darkgoldenrod;
    border-color: transparent;
    color:black;
 }
 .footer {
    background-color: black;
    color:white
 }
.nav-link {
    color:white;
}
.text-center {
    color:white;
}
.recipe-trending {
    color: black;
}

.recipe-nav-bar {
    background-color: ;
    padding: 0%;
}

.card-header {
    background-color: black;
}
